.roterBlock{
    background-color: aquamarine;
    color: white;
}

.blauerBlock{
    background-color: aquamarine;
    color: blue;
    font-size: verdana;
}

/*
    AUFGABE
    1) Passe die Hintergrundfarbe der CSS-Klasse blauerBlock an auf aquamarine
    2) Passe die Schriftart der CSS-Klasse blauerBlock an auf Verdana
*/